In [11]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [12]:
cosine_similarity([[3, 1]], [[6, 1]])

array([[0.98776297]])

In [13]:
cosine_distances([[3, 1]], [[6, 1]])

array([[0.01223703]])

In [14]:
import pandas as pd

df = pd.DataFrame(
    [
        {'iphone' : 3, 'galaxy' : 1},
        {'iphone' : 2, 'galaxy' : 0},
        {'iphone' : 1, 'galaxy' : 3},
        {'iphone' : 1, 'galaxy' : 2}
    ],
    index=[
        'doc1',
        'doc2',
        'doc3',
        'doc4'
    ]
)

df

      iphone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [15]:
df.loc['doc1':'doc1']

      iphone  galaxy
doc1       3       1

In [19]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc2':'doc2'])

array([[0.9486833]])

In [20]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc3':'doc3'])

array([[0.6]])

In [21]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc4':'doc4'])

array([[0.70710678]])

In [22]:
cosine_similarity(df.loc['doc3':'doc3'], df.loc['doc4':'doc4'])

array([[0.98994949]])

In [23]:
cosine_similarity(df.loc['doc2':'doc2'], df.loc['doc4':'doc4'])

array([[0.4472136]])

#### Conclusion:

**- doc1 and doc2 is more similar (iphone)**<br>
**- doc3 and doc4 is more similar (galaxy)**