In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("D:\Dec'24\DSCourse\data\homeprices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [4]:
x = df.area
y = df.price

x,y

(0    2600
 1    3000
 2    3200
 3    3600
 4    4000
 Name: area, dtype: int64,
 0    550000
 1    565000
 2    610000
 3    680000
 4    725000
 Name: price, dtype: int64)

In [1]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
x_train, x_test, y_train, y_test

(1    3000
 0    2600
 2    3200
 4    4000
 Name: area, dtype: int64,
 3    3600
 Name: area, dtype: int64,
 1    565000
 0    550000
 2    610000
 4    725000
 Name: price, dtype: int64,
 3    680000
 Name: price, dtype: int64)

: